###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = tab
insert_final_newline = true
charset = utf-8-bom
###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Naming Conventions          #
dotnet_diagnostic.IDE1006.severity = none
# Disable "can be simplifed" on "new" use
dotnet_diagnostic.IDE0090.severity = none
###############################
# C# Coding Conventions       #
###############################
[*.cs]
# Disable "can be static" on Linter.
dotnet_diagnostic.CA1822.severity = none
# Allow visible non-constant fields.
dotnet_diagnostic.CA2211.severity = none
# Stop warning of "unused objects" that are actually used.
dotnet_diagnostic.CA1806.severity = none
# New line preferences
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
csharp_new_line_between_query_expression_clauses = false
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
